* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #282A35;
}


/*
============================ header ============================
*/

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 18px;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__logo {
    color: #daa520;
    font-family: 'Gemunu Libre', sans-serif;
}

.header__item {
    display: block;
    padding: 15px;
}

.header__link {
    color: #daa520;
    opacity: 70%;
    text-decoration: none;
    margin: 10px;
}

.header__link:hover {
    opacity: 100%;
    color: #ffd700;
}


/*
============================ footer ============================
*/

.footer {
    display: none;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    color: #ffd700;
    font-family: 'Gemunu Libre', sans-serif;
}

.footer_active {
    display: flex;
}

.footer_disactive {
    display: none;
}

.footer__section {
    display: flex;
    width: 400px;
}


/* Action buttons section */

.btns-container {
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    width: 400px;
    height: 50px;
}

.action-btns {
    height: 50px;
    width: 50px;
    background-color: #3E4152;
    text-decoration: none;
    border: none;
}

.btn-play {
    background: url('../img/play.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-left: 9px;
}

.btn-pause {
    background: url('../img/pause.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-left: 9px;
}

.btn-previous {
    transform: rotate(180deg);
    background: url('../img/nex_previous.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-left: 9px;
}

.btn-next {
    background: url('../img/nex_previous.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-left: 9px;
}


/* Playlist dropdown section */

.select-box {
    display: flex;
    width: 300px;
    flex-direction: column;
}

.selected::after {
    content: "";
    transform: rotate(180deg);
    background: url("../img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    bottom: 5px;
    transition: all 0.4s;
}

.select-box .options-container {
    background-color: #3E4152;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
}

.selected {
    background-color: #3E4152;
    margin-top: 5px;
    position: relative;
    order: 0;
}

.select-box .options-container.active {
    max-height: 340px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active+.selected::after {
    transform: rotate(0deg);
    bottom: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background-color: #101926;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background-color: #525861;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background-color: #54586F;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio-btn {
    display: none;
}


/* Volume range slider section */

.volume-container {
    width: 100px;
}

.volume-slider {
    max-width: 250px;
    width: 35vh;
    position: absolute;
    bottom: 20px;
    transform: translate(80%, -300%) rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    height: 5px;
    position: relative;
    outline: none;
    margin: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ffd700;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.volume-number {
    background-color: #3E4152;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border-radius: 7px;
}

.volume-number:before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-bottom: 10px solid #3E4152;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -9px;
}

#volume-number {
    position: absolute;
    right: 5px;
    top: 5px;
}

.volume-icon {
    background: url('../img/medium-volume.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 20px;
    display: flex;
    position: absolute;
    top: 5px;
    left: 5px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

.login_btn {
    background-color: #3E4152;
    color: #ffd700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login_btn:hover {
    opacity: 0.8;
}


/* Extra styles for the cancel button */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Center the image and position the close button */

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}